<html>
<head>

    <title>
        {% block Title %}آموزش آنلاین{% endblock %}
    </title>

    {% block MetaData %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">

        {# TODO change @baseFontSize from 14px to 13px #}
    {% endblock %}

    {% block Stylesheets %}
        <link href="{{ asset("bundles/E-learning/css/bootstrap.css") }}" rel="stylesheet">
        <link href="{{ asset("bundles/E-learning/css/bootstrap-responsive.css") }}" rel="stylesheet">
        <link href="{{ asset("bundles/E-learning/css/E-learning.css") }}" rel="stylesheet">
        <link href="{{ asset("bundles/E-learning/css/font-awesome.min.css") }}" rel="stylesheet">
        <link href="{{ asset("bundles/E-learning/css/style-responsive.css") }}" rel="stylesheet">
        <link href="{{ asset("bundles/E-learning/css/style.css") }}" rel="stylesheet">

        <link rel="shortcut icon" href="../../../../../web/bundles/E-learning/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../../../../web/bundles/E-learning/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../../../../web/bundles/E-learning/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../../../../web/bundles/E-learning/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../../../../../web/bundles/E-learning/ico/apple-touch-icon-57-precomposed.png">
    {% endblock %}

    {% block JavaScripts %}
        <script src="{{ asset("bundles/E-learning/js/bootstrap.js") }}"></script>
        <script src="{{ asset("bundles/E-learning/js/jquery.js") }}"></script>
        <script src="{{ asset("bundles/E-learning/js/bootstrap-transition.js") }}"></script>
        <script src="{{ asset("bundles/E-learning/js/bootstrap-alert.js") }}"></script>
        <script src="{{ asset("bundles/E-learning/js/bootstrap-modal.js") }}"></script>
        <script src="{{ asset("bundles/E-learning/js/bootstrap-dropdown.js") }}"></script>
        <script src="{{ asset("bundles/E-learning/js/bootstrap-scrollspy.js") }}"></script>
        <script src="{{ asset("bundles/E-learning/js/bootstrap-tab.js") }}"></script>
        <script src="{{ asset("bundles/E-learning/js/bootstrap-tooltip.js") }}"></script>
        <script src="{{ asset("bundles/E-learning/js/bootstrap-popover.js") }}"></script>
        <script src="{{ asset("bundles/E-learning/js/bootstrap-button.js") }}"></script>
        <script src="{{ asset("bundles/E-learning/js/bootstrap-collapse.js") }}"></script>
        <script src="{{ asset("bundles/E-learning/js/bootstrap-carousel.js") }}"></script>
        <script src="{{ asset("bundles/E-learning/js/bootstrap-typeahead.js") }}"></script>
        <script src="{{ asset("bundles/E-learning/js/bootstrap-affix.js") }}"></script>
        <script src="{{ asset("bundles/E-learning/js/jquery.nivo.slider.pack.js") }}"></script>
        <script src="{{ asset("bundles/E-learning/js/jquery.isotope.min.js") }}"></script>
        <script src="{{ asset("bundles/E-learning/js/bootstrap-alert.js") }}"></script>
        <script src="{{ asset("bundles/E-learning/js/formvalidation.js") }}"></script>
        <script src="{{ asset("bundles/E-learning/js/smoothscroll.js") }}"></script>
        <script src="{{ asset("bundles/E-learning/js/html5placeholder.jquery.js") }}"></script>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    {% endblock %}

</head>

{% block Body %}
{% endblock %}

</html>